#body-container {
	position: relative;
	margin: 80px 0 40px 0;
	padding: 0;
	width: 100%;
	z-index: 0;
}

#body-container.anon {
	margin: 40px 0;	
}

#body, .page-container {
	position: relative;
	width: 870px;
	margin: 0 auto;
	padding: 40px;
	background: #e8e9d7;
	border: solid 5px #ffffff;
	border-radius:5px; 
}

#body.anon h2, #body.anon h3 {
	width: 100%;
	margin-bottom: 40px;
	color: #5a584c;
}

#body.anon h3, #body.anon span {
	color: #b0aa9a;
}

#info-container {
	position: relative;
	width: 960px;
	margin: 0 auto 40px auto;
}

#info-container h1 {
	margin-bottom: 40px;
}

#info {
	position: relative;
}

#register {
	position: absolute;
	bottom: -25px;
	right: 0;
}

#register-disclaimer {
	font-size: 0.8em;
	text-align: center;
}

#body-photos {
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
}

.body-photo {
	float: left;
	width: 202px;
	padding: 10px;
	border: solid 5px #b0aa9a;
	border-radius: 5px;
}

.body-photo img {
	height: 176px;
	width: 202px;
	border-radius: 5px;
}

.body-photo h3 {
	margin: 0 !important;
	text-align: center;
}

.body-spacer {
	float: left;
	width: 87px;
	margin-top: 100px;
	text-align: center;
}

#body-drops {
	margin-bottom: 40px;
	text-align: center;
}

#body-drops li {
	display: inline-block;
}

#body-drops li span {
	display: inline-block;
	clear: both;
}

#body-map {
	height: 640px;
	padding-top: 40px;
	background: #f4f4ea;
	border: solid 5px #d7d5c9;
	border-radius:5px; 
	text-align: center;
}

#body-map h1 {
	margin-bottom: 40px;
}

#statusHeader {
	display: inline-block;
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 20px;
	border-bottom: solid 1px #babbad;	
}

#statusHeader img {
	vertical-align: middle;
}

#statusHeader h1 {
	margin-left: 20px;
}

#statusInstructions {
	display: inline-block;
	width: 100%;
}

#statusInstructions h1 {
	display: block;
	margin-bottom: 40px;
	color: #3baca6;
}

#statusInstructions h2 {
	display: block;
	margin-bottom: 40px;
	color: #214a4e;
}

#statusList {
	
}

.statusItem {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	background: #a4a891;
	color: #ffffff;
	border: solid 3px #ffffff;
	border-radius:5px; 
}

.statusItem.complete {
	background: #3baca6;
}

.statusItem.current {
	background: #eb541b;	
	cursor: pointer;
}

.statusItem.current .current-marker {
	position: absolute;
	top: -50px;
	right: -45px;
	height: 74px;
	width: 116px;
	background: url('/img/status_you_are here.png') no-repeat;
}

.statusItem img {
	height: 100%;
	vertical-align: top;
}

.statusItem > h3 {
	margin: 20px 0 0 20px;
}

.statusItem #reserve {
	margin: 20px 0;
}

.statusItem .current-wait {
	position: absolute;
	top: 10px;
	right: 0;
	padding-top: 10px;
	width: 250px;
	height: 70px;
	border-left: solid 3px #ffffff;
	text-align: center;
}

.add-item {
	position: absolute;
	top: 5px;
	right: 40px;
	height: 32px;
	padding: 4px 0 0 37px;
	background: url('/img/add.png') no-repeat;
	font-weight: bold;
}

.error-message {
	background: red;
}
}